.habit-title {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.btn {
  width: fit-content;
  padding: 0 5px;
  border-radius: 5px;
}

.habit-list {
  max-width: 70%;
  margin: auto;
  text-align: center;
}

.habit-list ul {
  list-style-type: none;
}

.habit-list ul li {
  padding: 10px;
}

.card {
  border: 1px solid black;
  padding: 10px;
  border-radius: 12px;
  width: 300px;
}

.card:hover {
  cursor: pointer;
}

.card-selected {
  background-color: #add8e670;
}

#clear-search:hover {
  cursor: pointer;
}

.habit-list-container {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}

.list-item:hover {
  cursor: pointer;
}

.check-btn {
  padding: 3px 5px;
  border-radius: 50%;
}

.num-input {
  width: 50px;
}

.tab {
  padding: 5px 10px;
  border: 1px solid black;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: darkgray;
}

.tab.active {
  background-color: lightgray;
}

#tab-todo {
  border-radius: 8px 0 0 8px;
}

#tab-complete {
  border-radius: 0 8px 8px 0;
}
