.page-title {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.btn {
  width: fit-content;
  padding: 2px 3px;
  border-radius: 8px;
}

.habit-list {
  max-width: 70%;
  margin: auto;
  text-align: center;
}

.habit-list ul {
  list-style-type: none;
}

.habit-list ul li {
  padding: 10px;
}

.card {
  border: 1px solid var(--text-color);
  padding: 10px;
  border-radius: 12px;
  width: 300px;
  background-color: var(--card-bg-color);
}

.card:hover {
  cursor: pointer;
}

.card-selected {
  background-color: #add8e670;
}

#clear-search:hover {
  cursor: pointer;
}

.habit-list-container {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}

.list-item:hover {
  cursor: pointer;
}

.check-btn {
  padding: 3px 5px;
  border-radius: 50%;
}

.num-input {
  width: 50px;
}

.tab {
  padding: 5px 10px;
  border: 1px solid black;
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: lightgray;
}

.tab.active {
  background-color: darkgray;
}

#tab-todo {
  border-radius: 8px 0 0 8px;
}

#tab-complete {
  border-radius: 0 8px 8px 0;
}

.search-container {
  margin-bottom: 10px;
}

.search-bar {
  border: 1px solid black;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: #fff;
}
.search-bar:focus-within {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

#habit-search {
  font-size: 18px;
  border: none;
  outline: none;
}

#del-btn {
  padding: 5px;
}

#title {
  padding-right: 20px;
}

.progress-bar {
  width: 95%;
  border-radius: 10px;
  padding: 0 5px;
  border: 2px solid green;
  /*  */
}
.progress-bar i {
  color: #00000080;
  font-size: 12px;
}
